body{
    color: #40514E;
    text-align: center;
    margin: 0;
    font-family: 'Merriweather', serif;
    font-size: 200%;
}
h1{
    font-size: 5.625rem;
    margin-top: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
    line-height: 2;
}
h2{
    font-family:'Montserrat', sans-serif; 
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
    padding-bottom: 10px;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}
.footer-link{
    color: #11999E;
    font-size: medium;
}

.topcontainer{
    padding-top: 100px;
    background-color: #E4F9F5;
    position: relative;
    
}
.circular1{
    border-radius: 100%;
    background-color:whitesmoke;
}
.circular2{
    border-radius: 100%;
    background-color:powderblue;
}
a{
    color: #11999E;
    font-family:'Montserrat', sans-serif; 
    margin: 10px 20px;
    text-decoration: none;
}
a:hover{
    color: #EAF6F6;
}
.middle-container{

margin:100px auto;
}
.copyright{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding:20px 0;
}
.bottom-container{
    background-color: #66BFBF;
    margin: 50px 0 20px;
    
}
hr{
    border: dotted #EAF6F6 8px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}
.bottom-cloud{
    position: absolute;
    bottom: 300px;
    left:250px:
}
.contact-me{
    width: 70%;
    margin: 40px auto 60px;
    font-size: medium;
}
.top-cloud{
    position: absolute;
    right: 200px;
    top:40px;
}
.pic{
width: 300px;
}

p{
    line-height: 2;
}
.skill-row{
    width: 50%;
    margin:100px auto 100px auto;
    text-align: left;
    
    font-size: medium;
}
.draw{
    width: 250px;
    height: 250px;
    float: left;
    margin-right: 30px;
}
.speech{
    width: 250px; 
    height: 250px;
    float: right;
    margin-left: 30px;
}
.btn {
    background: #11cdde;
    background-image: -webkit-linear-gradient(top, #11cdde, #11999e);
    background-image: -moz-linear-gradient(top, #11cdde, #11999e);
    background-image: -ms-linear-gradient(top, #11cdde, #11999e);
    background-image: -o-linear-gradient(top, #11cdde, #11999e);
    background-image: linear-gradient(to bottom, #11cdde, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family:'Montserrat', sans-serif; 
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
  © Copyright. 2023. css3button